# dependencies
node_modules
.pnpm-store

# turborepo
.turbo

# tmp files
.#*

# env
.env*.local
.env

# opennext
.open-next

# misc
.DS_Store

# typescript
*.tsbuildinfo

# wip stuff
infra/wrangler
.gocache

# devcontainer certificates (generated per-user)
.devcontainer/system-certs.pem